.section_container
    width: 100%
    display: grid
    grid-template-rows: 1fr 122px
    
.drop
    border: 1px solid red
.wrapper_inner
    display: flex
    flex-direction: column
    gap: 16px
    padding-right: 6px
    overflow: auto
    max-height: calc(100vh - 524px)
    &::-webkit-scrollbar 
        width: 8px
        height: 90%
        padding-top: 40px
    &::-webkit-scrollbar-track 
        background: #2F2F37
        border-radius: 6px
    &::-webkit-scrollbar-thumb 
        background: #8585AD
        border-radius: 6px

.constructor_footer
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 50px

.total_wrapper
    span
        margin-right: 10px

.no_ingredients
    margin-top: 40px
    text-align: center
    color: #8585AD
