.container
    max-width: 1240px
    width: 100%
    margin: 0 auto
.container_wrapper
    display: grid
    grid-template-columns: 584px 1fr
    gap: 56px
.orders_wrapper
    height: calc(100vh - 214px)
    overflow: auto
    &::-webkit-scrollbar 
        width: 8px
        height: 90%
        padding-top: 40px
    &::-webkit-scrollbar-track 
        background: #2F2F37
        border-radius: 6px
    &::-webkit-scrollbar-thumb 
        background: #8585AD
        border-radius: 6px
.details_column
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 32px
.orders_status_column
    height: 160px
    display: flex
    flex-flow: column wrap
.order_done_text
    font-size: 100px
    margin-bottom: 24px
