.constructor-element {
    width: 100%;
}
.constructor-element__text {
    flex-grow: 1;
}
.blue {
    color: #00CCCC;
}
.dark_gray {
    color: #8585AD;
}
.text_shadow {
    text-shadow: 0px 0px 16px rgb(51 51 255 / 25%), 0px 0px 8px rgb(51 51 255 / 25%), 0px 4px 32px rgb(51 51 255 / 50%);
}
.show_item {
    animation: showItem .2s;
}

@keyframes showItem {
    0% {
        transform: scale(0.9);   
        opacity: 0;
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}